@import '../../assets/styles/colors.css';
@import '../../assets/styles/mixins.css';

label {
  display: block;
  width: 280px;
  text-align: left;

  color: $textShadow;

  @mixin text9;
}

input {
  @mixin text13;
  line-height: 20px;

  width: 280px;
  box-sizing: border-box;

  border: none;
  border-bottom: 1px solid $main;
}

.inputError {
  font-size: 8px;
  color: $textWarning;
}
