@import '../../assets/styles/colors.css';
@import '../../assets/styles/mixins.css';

.sideContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 100%;

  background-color: $layoutLightShadow;
  border-right: 1px solid $borderShadow;

  .backButton {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: $main;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    color: $textOnSurface;
  }
}

.layout {
  height: 720px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  .title {
    @mixin heroTitle;
  }

  .text {
    @mixin textTitle;
  }
}

.button,
.buttonRed {
  @mixin button;
}

.header {
  display: flex;
  justify-content: center;
  margin-left: 85px;
}

.buttonBlocked {
  @mixin button;
  color: $textShadow;
}

.buttonDefault {
  @mixin buttonDefault;
  width: 100%;
  cursor: pointer;
}

.form {
  width: 340px;
  margin: 0 auto;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 48px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @mixin textTitle;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li + li {
    margin-top: 14px;
  }

  li:last-of-type {
    margin-top: 48px;
  }

  label {
    display: block;
    width: 280px;
    text-align: left;

    color: $textShadow;

    @mixin text9;
  }

  input {
    @mixin text13;
    line-height: 20px;

    width: 280px;
    box-sizing: border-box;

    border: none;
    border-bottom: 1px solid $main;
  }
}

/* UserPage */

.container {
  display: flex;
  flex-direction: column;
  min-width: 512px;
  align-items: center;
  row-gap: 40px;

  .name {
    @mixin textTitle;
  }

  .userinfocontainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;

    .userinfo {
      display: flex;
      justify-content: space-between;
      position: relative;
      height: 24px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $borderShadow;
        width: 512px;
        height: 1px;
      }

      .placeholder,
      .value {
        @mixin text13;
      }

      .value {
        color: $textShadow;
      }
    }
  }
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;

  background: $layoutShadow;
  vertical-align: middle;

  &:hover {
    background-color: #000;
    opacity: 0.5;

    &::after {
      content: 'Поменять аватар';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;

      @mixin text13;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  align-items: center;

  a {
    &:hover {
      background-color: $main;
      color: $textOnSurface;
    }
  }
}

.buttonRed {
  color: $textWarning;
}
