@import '../../assets/styles/colors.css';
@import '../../assets/styles/mixins.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButton {
  @mixin button;

  &:hover {
    background-color: $main;
    color: $textOnSurface;
  }
}

.buttonBlocked {
  @mixin button;
  color: $textShadow;

  &:hover {
    background-color: $main;
    color: $textOnSurface;
  }
}
