{{> header}}
<div class={{styles.layout}}>
  <form class={{styles.form}} action="/signup" method="post">
    <h1>Вход</h1>
    <ul>
      <li>
        <label for='login'>Логин</label>
        <input type="text" name="login" id='login'>
      </li>
      <li>
        <label for='password'>Пароль</label>
        <input type="password" name="password" id='password'>
      </li>
      <li>
        <label for='anotherpassword'>Пароль (еще раз)</label>
        <input type="password" name="password" id='anotherpassword'>
      </li>
      <li>
        <button class={{styles.buttonDefault}} type="submit" name="submit">Авторизоваться</button>
      </li>
    </ul>
        <a class={{styles.button}} href='/login'>Нет аккаунта?</a>
</div>