$textMain: #1e1e1e;
$textOnSurface: #fff;
$textShadow: #999999;
$textWarning: #ff2f2f;

$main: #3369f3;

$layoutWhite: #fff;
$layoutShadow: #efefef;
$layoutLightShadow: #fbfbfb;

$borderBlue: $main;
$borderShadow: #eaeaea;
